body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;text-align: center;}

/* Main Content */
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

/* Highlighting the value in the result */
.highlight_value {
    background-color: yellow;
}

.calculator-form-table {
    width: 350px;
    margin: auto;
}

.calculator-form-table tbody td:first-child {
    width: 150px;
    text-align: left;
    vertical-align: middle;
    padding: 5px 0 5px 0;
    font-weight: 500;
}

.calculator-form-table tbody td:last-child {
    text-align: left;
    padding: 5px 0 5px 0;
}

.flex-display {
    display: flex;
}


