body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

/* Main Content */
.maindiv {
    background-color: white;
    color: black;
    width: 700px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

/* Highlighting the value in the result */
.highlight_value {
    background-color: yellow;
}

.calculator-section {
    width: 300px;
    display: flex;
    margin: auto;
}

.calculator-section div:first-child {
    width: 150px;
}

.result-section {
    width: 300px;
    margin: auto;
}

.calculator-form-table {
    width: 350px;
    margin: auto;
}

.calculator-form-table tbody td:first-child {
    width: 150px;
    text-align: left;
    vertical-align: middle;
}

.calculator-form-table tbody td:last-child {
    text-align: left;
}


