body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

/* Main Content */
.maindiv {
    background-color: white;
    color: black;
    width: 600px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

/* Highlighting the value in the result */
.highlight_value {
    background-color: yellow;
}

.calculator-section {
    width: 300px;
    display: flex;
    margin: auto;
}

.calculator-section div:first-child {
    width: 150px;
}

.result-section {
    width: 300px;
    margin: auto;
}


